## macOS
.DS_Store

## Xcode — користувацькі дані та результати збірки
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

## Swift Package Manager
.build/
**/.swiftpm/xcode/package.xcworkspace/xcuserdata/
**/.swiftpm/configuration/

## Playgrounds
timeline.xctimeline
playground.xcworkspace
